html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000 url('../images/bg_350.jpg');
    min-height: 640px;
    height: 100%;
}

#welcome {
	text-align: center;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 40%;
	display: none;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1020px;
    height: 640px;
    margin: -320px 0 0 -510px;
}

#board {
	position: relative;
    float: left;
    width: 640px;
    height: 640px;
    background: url('../images/standard/board.png');
    box-shadow: 1px 1px 10px #000;
}

#sidebar {
	display: none;
    position: relative;
    float: left;
    width: 200px;
}

#players-list {
    width: 170px;
    position: relative;
    padding: 40px 0 0 30px;
    margin: 0;
    background: url('../images/sprites.png') 30px -480px no-repeat;
    overflow: hidden;
    list-style-type: none;
}

.base_mask {
	display:  none;
	position: absolute;
	opacity:  .8;
	background-color: #000000;
}

#base_mask_red {
	width:    151px;
	height:   151px;
	top:      489px;
	left:     0px;
}

#base_mask_yellow {
	width:    151px;
	height:   149px;
	top:      0px;
	left:     0px;
}

#base_mask_blue {
	width:    151px;
	height:   149px;
	top:      0px;
	left:     490px;
}

#base_mask_green {
	width:    151px;
	height:   151px;
	top:      489px;
	left:     490px;
}

#click-hint {
	display:  none;
	position: absolute;
	width:    150px;
	height:   75px;
	background-image: url('../help/good/click.png');
	opacity:  .5;
}

.click-red {
	top:   456px;
	left:  -63px;
}

.click-yellow {
	top:   106px;
	left:  -63px;
}

.click-blue {
	top:   106px;
	left:  905px;
}

.click-green {
	top:   456px;
	left:  905px;
}

#slide-hint {
	display:  none;
	position: absolute;
	width:    150px;
	height:   75px;
	background-image: url('../help/good/slide.png');
	opacity:  .5;
}

.slide-red {
	top:   456px;
	left:  -63px;
}

.slide-yellow {
	top:   106px;
	left:  -63px;
}

.slide-blue {
	top:   106px;
	left:  945px;
}

.slide-green {
	top:   456px;
	left:  945px;
}

#player-info-left {
    width:    190px;
	height:   640px;
	float:    left;
	position: relative;
}

#player-info-right {
    width:    190px;
	height:   640px;
	float:    left;
	position: relative;
}

.rank-info {
    position: absolute;
    width: 56px;
    height: 60px;
    z-index: 2;
}

#rank-red {
    left: 110px;
    top: 490px;
}

#rank-yellow {
    left: 110px;
    top: 90px;
}

#rank-blue {
    left: 24px;
    top: 90px;
}

#rank-green {
    left: 24px;
    top: 490px;
}

#game_over_info {
	position:    absolute;
	font-size:   100px;
	font-weight: bold;
	z-index:     2;
	top:         150px;
	left:        25px;
}

.player-info {
	position:    absolute;
	width:       170px;
	height:      40px;
	/*overflow:    hidden;*/
    color:       #fff;
	font-size:   22px;
    font-weight: bold;
	font-family: cursive;
}

.player-info-red {
	direction:   rtl;
	left: 0px;
	top:  565px;
	padding:0 20px 0 0;
}

.player-info-yellow {
	direction:   rtl;
	left: 0px;
	top:  0px;
	padding:0 20px 0 0;
}
.player-info-blue {
	left: 0px;
	top:  0px;
	padding:0 0 0 20px;
}
.player-info-green {
	left: 0px;
	top:  565px;
	padding:0 0 0 20px;
}

.player-stat {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	height:30px;
	width:120px;
}

.red-notready {
	top: 555px;
	left:35px;
}

.red-disconnected {
	top: 555px;
	left:18px;
}

.yellow-notready {
	top: 62px;
	left:35px;
}

.yellow-disconnected {
	top: 62px;
	left:18px;
}

.blue-notready {
	top: 62px;
	left:525px;
}

.blue-disconnected {
	top: 62px;
	left:508px;
}

.green-notready {
	top: 555px;
	left:525px;
}

.green-disconnected {
	top: 555px;
	left:508px;
}

.icon {
    float: left;
    width: 40px;
    height: 40px;
    background: url('../images/sprites.png') no-repeat;
}

.player {
    float: left;
    clear: left;
    width: 170px;
    height: 40px;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 2px #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
}

.player-red .icon {
    background-position: -320px 0;
}

.player-green .icon {
    background-position: -320px -40px;
}

.player-yellow .icon {
    background-position: -320px -80px;
}

.player-blue .icon {
    background-position: -320px -120px;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('../images/sprites.png') -240px 0 no-repeat;
    -webkit-transition: top .1s linear;
	display: none;
}

.arrow-red {
    top: 40px;
}

.arrow-yellow {
    top: 80px;
}

.arrow-blue {
    top: 120px;
}

.arrow-green {
    top: 160px;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../images/shadow.png');
    background-size: 100% 100%;
}

.pawn {
	border: 0 solid;
	border-radius:18px;
    position: absolute;
    width: 36px;
    height: 36px;
    background: url('../images/standard/pawns.png') no-repeat;
    -webkit-transition: top .1s linear, left .1s linear;
}

.pawn.focused {
    -webkit-animation: .5s steps(1) infinite alternate;
    cursor: pointer;
}

.pawn.arrive {
    background-position: -36px 0;
}

.pawn-red.focused {
	-webkit-animation:focusred; /* Safari and Chrome */
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
}

.pawn-green {
    background-position: 0 -108px;
}

.pawn-green.focused {
    -webkit-animation-name: focusgreen;
	  -webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
		-webkit-animation-play-state: running;
}

.pawn-yellow {
    background-position: 0 -36px;
}

.pawn-yellow.focused {
    -webkit-animation-name: focusyellow;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
		-webkit-animation-play-state: running;    
}

.pawn-blue {
    background-position: 0 -72px;
}

.pawn-blue.focused {
    -webkit-animation-name: focusblue;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
		-webkit-animation-play-state: running;    
}


@-webkit-keyframes focusred {
    0%  { box-shadow: 0 0 8px 0px #ffffff; }
    10% { box-shadow: 0 0 8px 2px #ffffff; }
    20% { box-shadow: 0 0 8px 4px #ffffff; }    
    30% { box-shadow: 0 0 8px 6px #ffffff; }
    40% { box-shadow: 0 0 8px 8px #ffffff; }
    50% { box-shadow: 0 0 8px 10px #ffffff; }
    60% { box-shadow: 0 0 8px 8px #ffffff; }
    70% { box-shadow: 0 0 8px 6px #ffffff; }    
    80% { box-shadow: 0 0 8px 4px #ffffff; }
    90% { box-shadow: 0 0 8px 2px #ffffff; }         
}

/*21  141 22
//234 114 233 ea72e9*/
@-webkit-keyframes focusgreen {
    0%  { box-shadow: 0 0 8px 0px #ffffff; }
    10% { box-shadow: 0 0 8px 2px #ffffff; }
    20% { box-shadow: 0 0 8px 4px #ffffff; }    
    30% { box-shadow: 0 0 8px 6px #ffffff; }
    40% { box-shadow: 0 0 8px 8px #ffffff; }
    50% { box-shadow: 0 0 8px 10px #ffffff; }
    60% { box-shadow: 0 0 8px 8px #ffffff; }
    70% { box-shadow: 0 0 8px 6px #ffffff; }    
    80% { box-shadow: 0 0 8px 4px #ffffff; }
    90% { box-shadow: 0 0 8px 2px #ffffff; }     
}

/*254 209 6
//1   46  249 012ef9*/
@-webkit-keyframes focusyellow {
    0%  { box-shadow: 0 0 8px 0px #ffffff; }
    10% { box-shadow: 0 0 8px 2px #ffffff; }
    20% { box-shadow: 0 0 8px 4px #ffffff; }    
    30% { box-shadow: 0 0 8px 6px #ffffff; }
    40% { box-shadow: 0 0 8px 8px #ffffff; }
    50% { box-shadow: 0 0 8px 10px #ffffff; }
    60% { box-shadow: 0 0 8px 8px #ffffff; }
    70% { box-shadow: 0 0 8px 6px #ffffff; }    
    80% { box-shadow: 0 0 8px 4px #ffffff; }
    90% { box-shadow: 0 0 8px 2px #ffffff; }     
}

/*13  117 196*/
/*242 138 59  f28a3b*/
@-webkit-keyframes focusblue {
    0%  { box-shadow: 0 0 8px 0px #ffffff; }
    10% { box-shadow: 0 0 8px 2px #ffffff; }
    20% { box-shadow: 0 0 8px 4px #ffffff; }    
    30% { box-shadow: 0 0 8px 6px #ffffff; }
    40% { box-shadow: 0 0 8px 8px #ffffff; }
    50% { box-shadow: 0 0 8px 10px #ffffff; }
    60% { box-shadow: 0 0 8px 8px #ffffff; }
    70% { box-shadow: 0 0 8px 6px #ffffff; }    
    80% { box-shadow: 0 0 8px 4px #ffffff; }
    90% { box-shadow: 0 0 8px 2px #ffffff; }     
}

#countdown {
    position: absolute;
    top: 280px;
    left: 670px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    font-weight: bold;
    font-size: 75px;
	text-align: center;
    border: 0 solid;
	border-radius: 40px;
    padding-right: 5px;
    padding-left: 5px;
}

.countdown-red {
    top:  430px;
    left: -60px;
}

.countdown-yellow {
    top:  200px;
    left: -60px;
}

.countdown-blue {
    top:  200px;
    left: 990px;
}

.countdown-green {
    top:  430px;
    left: 990px;
}

.dice-wrap {
	display: none;
    position: absolute;
    top:  450px;
    left: 80px;
    width: 90px;
    height: 90px;
    background-image: url('../images/dice.png');
    background-position: 0 -75px;
    -webkit-transition: top .1s linear, left .1s linear;
	border: 0 solid;
	border-radius: 40px;
}

.dice-wrap-red {
    top:  450px;
    left: 80px;
    background-color: #f65624;
}

.dice-wrap-yellow {
    top:  100px;
    left: 80px;
    background-color: #fed807;
}

.dice-wrap-blue {
    top:  100px;
    left: 855px;
    background-color: #0f8ad0;
}

.dice-wrap-green {
    top:  450px;
    left: 855px;
    background-color: #13d213;
}

@-webkit-keyframes focusdice {
     0% { background-position: 0 -75px; }
    25% { background-position: -90px -75px; }
    50% { background-position: -180px -75px; }
    75% { background-position: -270px -75px; }
}

.dice-wrap.focused {
    -webkit-animation: focusdice .5s steps(1) infinite alternate;
}

.dice {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
    background-image: url('../images/dice.png');
    cursor: pointer;
}

.dice-2 {
    background-position: -60px 0;
}

.dice-3 {
    background-position: -120px 0;
}

.dice-4 {
    background-position: -180px 0;
}

.dice-5 {
    background-position: -240px 0;
}

.dice-6 {
    background-position: -300px 0;
}

.throw {
    opacity: .3;
}

@-webkit-keyframes focusthedice {
     0% { background-position:  -60px 0; }
    17% { background-position: -120px 0; }
    34% { background-position: -180px 0; }
    51% { background-position: -240px 0; }
    68% { background-position: -300px 0; }
    85% { background-position:      0 0; }
}

.dice.focused {
    -webkit-animation: focusthedice .5s steps(1) infinite alternate;
}

.dice-hint {
    position: absolute;
    top: -70px;
    left: 45px;
    width: 120px;
    height: 80px;
    background: url('../images/sprites.png') -240px -160px no-repeat;
}
.dice-hint.hide {
	opacity:0.0;
}
